<% title "Kontakt" %>
<h1 style="border-bottom: 2px solid rgb(229, 229, 229);"><%= yield(:title) %></h1>
<img src="http://m1l05z.pl/images/kontakt.gif" width="100%">
<br><br><br>
<center><b>Cały kod sklepu został napisany ręcznie bez żadnych gotowców</b>
<br><br>
<b>Jest to sklep z artykułami odzieżowymi.</b>
<br><br>
<b>Strona wciąż w budowie.</b>
<br><br>
Sklep napisał: <a href="http://m1l05z.pl">Miłosz Osiński</a></center>
