<% title "Kontakt" %>
<h1 style="border-bottom: 2px solid rgb(229, 229, 229);"><%= yield(:title) %></h1>
<img src="http://m1l05z.pl/images/kontakt.gif">

<b>Sklep Rails</b>
napisał:<a href="http://m1l05z.pl">Miłosz Osiński</a>
