<h1 style="border-bottom: 2px solid rgb(229, 229, 229);">Dodaj Produkt</h1>
<%= simple_form_for @produkt, :html => { :multipart => true } do |f| %>
<%= render partial: 'form', locals: { f: f } %>

 <%= f.button :submit, :value => 'Dodaj Produkt' %><%= button_tag "Powrót",:type => 'button',:class => 'button',:onclick => "location.href = '#{produkts_url}'" %>
<% end %>
